{
    "presets": [
        ["env", {
            exclude: ["transform-regenerator"]
        }]
    ],

    "plugins": [
        "transform-class-properties",
        ["fast-async",{
           "runtimePattern": "LeanCoffeePowerUp\\.js"
        }]
    ]
}
