{
    "presets": [
        ["@babel/preset-env", {
              exclude: ["transform-async-to-generator"]
        }]
    ],

    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["module:fast-async",{
           "runtimePattern": "LeanCoffeePowerUp\\.js"
        }]
    ]
}
