# Trello apparently supports only the latest stable version of desktop browsers. We'll aim for the latest two.
# See: https://help.trello.com/article/735-what-browsers-and-mobile-platforms-does-trello-support
last 2 versions, not dead
