{
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "babel"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "babel/semi": 1,
    "comma-dangle": "off",
    "max-len": [
      "error", 120
    ],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["element"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["webpack.*.js"]}]
  }
}
