# Local certificates
localhost.*

# Local configuration
.mise.toml

# IDE configuration
.vscode
.idea
*.iml

# Output
*.log
coverage

# Dependencies
node_modules

# Local configuration
.env.development
